@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #5501DD;
  --color-primary-100: #5501DD1A;
  --color-primary-50: #5501DD0D;
  --color-secondary: #374151;
  --color-header: #111827;
  --color-cstm-gray: #4B5563;
  --color-main-bg: #F9FAFB;
  
}

@theme inline {
    /* customize breakpoints */
  --breakpoint-sm: 36rem; /* 576 */
  --breakpoint-md: 48rem;  /* 768 */
  --breakpoint-lg: 62rem; /* 992 */
  --breakpoint-xl: 75rem;  /* 1200 */
  --breakpoint-2xl: 87.5rem; /* 1400 */
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply text-header;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h5{
    @apply text-xl font-bold;
  }

  h6{
    @apply font-bold;
  }

  button {
    @apply rounded cursor-pointer;
  }

  
*:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
  }
}

@layer utilities {
  .card-style {
    background: #FFFFFF;
    border: 1px solid #F3F4F6;
    box-shadow: 
      0px 4px 6px -1px #0000001A,
      0px 2px 4px -2px #0000001A;
    border-radius: 16px;
    transition: transform 0.25s cubic-bezier(0.4,0,0.2,1);
  }
  .card-style:hover {
    transform: scale(1.04);
  }

  .cstm-card-style {
    box-shadow: 0px 1px 2px 0px #0000000D;

    border: 1px solid #F3F4F6;
    border-radius: 16px;
    transition: transform 0.25s cubic-bezier(0.4,0,0.2,1);
  }

  .primary-button {
    @apply flex items-center justify-center flex-nowrap gap-4 px-4 sm:px-6 md:px-10 lg:px-16 py-3 rounded-[8px] bg-primary text-white border border-primary hover:bg-white hover:text-primary transition whitespace-nowrap;
  }
  .secondary-button {
    @apply flex items-center justify-center gap-4 px-4 sm:px-6 md:px-10 lg:px-16 py-3 rounded-[8px] text-primary bg-white border border-primary hover:bg-primary hover:text-white transition whitespace-nowrap;
  }

  .surface-box {
    @apply bg-main-bg p-2;
  }

}

/* Remove number input arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
